/* Tables of content */
/* -----------------------
1. General
2. Navbar
3. Banner
4. About
5. Services
6. Portfolio
7. Blogs
8. Contact
9. Footer
----------------------- */

/* 1. General */
@im@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* background color */
  --primary-color: #4458dc;
  --secondary-color: #854fee;
  --bg-white: #fff;
  --bg-light: #faf8ff;
  --bg-black: #222;
  --text-color: #000000;
  --text-grey: #999;
  --bg-gray: #eee;
  --gradient: linear-gradient(to right, #4458dc 0%, #854fee 100%),
    radial-gradient(circle at top left, #4458dc, #854fee);

  /* font family */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

body {
  font-family: var(--primary-font);
  background-image: url(../images/body-bg.png.webp);
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/* 1. custom css */
::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: var(--bg-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

section {
  padding: 5rem 0;
}

.main-btn {
  display: inline-block;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 2.875rem;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  box-shadow: 0 0.635rem 1.875rem 0 rgb(118 85 225 / 30%);
  border: double 0.125rem transparent;
  padding: 0 2.625rem;
  transition: all 0.3s ease-in-out;
  --webkit-transition: all 0.3s ease-in-out;
}

.primary-btn {
  background: var(--gradient);
  color: var(--bg-white);
}

.primary-btn:hover {
  border-color: var(--secondary-color);
  background: var(--bg-white);
  color: var(--secondary-color);
  box-shadow: none;

  border-color: var(--primary-color);
}

.secondary-btn {
  background: var(--bg-white);
  color: var(--secondary-font);
  border-color: var(--secondary-color);
}

.secondary-btn:hover {
  background: var(--gradient);
  color: var(--text-white);
  box-shadow: none;
}

h1 {
  font-size: 4.375rem;
  line-height: 3.75rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 1.25rem;
  font-family: var(--primary-font);
}

h2 {
  font-size: 2.5rem;
  line-height: 3.4375rem;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 1.5625rem;
  font-family: var(--primary-font);
}

h3 {
  font-size: 2.25rem;
  line-height: 3.125rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 0.9375rem;
  font-family: var(--primary-font);
  text-transform: uppercase;
}

h5 {
  font-size: 1.5rem;

  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 2.1875rem;
}

p {
  color: var(--text-grey);
  font-size: 0.9375rem;
  line-height: 1.625rem;
  font-weight: 400;
}

/* navbar */

.header_wrapper .navbar {
  padding: 0.9375rem 0;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header_wrapper .navbar-brand img {
  max-width: 10rem;
  height: auto;
}

.header_wrapper .navbar-toggler:focus {
  box-shadow: none;
}

.header_wrapper .nav-item {
  margin: 0 0.625rem;
  color: var(--primary-color);
}
.header_wrapper .nav-item .nav-link {
  font-family: var(--primary-font);
  font-size: 0.9375rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-color);
  display: inline-block;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .navbar-nav .nav-item .nav-link:hover {
  color: var(--primary-font);
}

.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg-white);
  -webkit-box-shadow: 0 0.25rem 0.375rem rgba(12, 0, 46, 0.05);
  box-shadow: 0 0.25rem 0.375rem rgba(12, 0, 46, 0.05);
}

.banner_wrapper {
  padding-top: 6.875rem;
  z-index: 1;
  background-image: url("../images//home-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner_wrapper .banner-content {
  vertical-align: middle;
  align-self: center;
}
.banner_wrapper .banner-content h2::after {
  content: "";
  width: 60%;
  height: 0.125rem;
  position: absolute;
  top: 50%;
  left: 25%;
  background: var(--bg-black);
  overflow-x: hidden;
}

/* About  */

.about_wrapper .single-logo-item {
  width: 100%;
  height: 6.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--bg-gray);
  box-shadow: none;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.about_wrapper .single-logo-item:hover {
  border: 0.625rem solid transparent;
  box-shadow: 0 0.05rem 1.875rem rgba(118, 85, 225, 15%);
}

.about_wrapper .client-info {
  padding: 1.5625rem 1.875rem;
  background: var(--bg-light);
  position: relative;
  margin-top: 1.5625rem;
}
.about_wrapper .client-info::before {
  content: "";
  position: absolute;
  top: -1.5625rem;
  left: -3.4375rem;
  background: url(../images/client-info.webp) no-repeat;
  height: 10.9375rem;
  width: 10.9375rem;
}

.about_wrapper .client-info .large {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 6.25rem;
  position: relative;
  z-index: 9;
  font-weight: 700;
}
.about_wrapper .client-info .smll {
  text-align: left;
  color: var(--text-color);
  font-size: 1.25rem;
  font-weight: 500;
}

.about_wrapper .client-info .call-now {
  font-size: 3.75rem;
  font-weight: 700;
  color: var(--text-color);
}

.about_wrapper .client-info .call-now p {
  color: var(--secondary-color);
  text-transform: uppercase;
  margin-bottom: 0.3125rem;
}

/* services */
.services_wrapper .card {
  background-color: var(--bg-light);
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all o.4s ease 0s;
  transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
}

.services_wrapper .card:hover {
  box-shadow: 0 0.09375rem 1.875rem rgba(57, 65, 187, 0.3);
  background: var(--bg-white);
}

.portfolio_wrapper .nav-link {
  font-size: 0.9375rem;
  font-weight: 500;
  margin-right: 0.25rem;
  color: var(--text-color);
  text-transform: uppercase;
}

.portfolio_wrapper .nav-link.active {
  color: var(--secondary-color);
  background-color: transparent;
}

.portfolio_wrapper .portfolio-img {
  position: relative;
  cursor: pointer;
}

.portfolio_wrapper .portfolio-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all o.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.portfolio_wrapper .portfolio-img:hover .overlay {
  background: rgba(77, 87, 222, 0.5);
  border-radius: 18px;
}
.portfolio_wrapper .portfolio-img .overlay i {
  font-size: 6.25rem;
  color: var(--bg-light);
  position: absolute;
  top: 25%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s ease 0s;
  -o-transition: 0.4s ease 0s;
  -ms-transition: 0.4s ease 0s;
  -moz-transition: 0.4s ease 0s;

  transition: 0.4s ease 0s;
}

.portfolio_wrapper .portfolio-img:hover .overlay i {
  opacity: 1;
  visibility: visible;
  top: 50%;
  left: 50%;
}

/* Blog */

.blog_wrapper .card {
  position: relative;
  cursor: pointer;
}
.blog_wrapper .blog_details {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  right: 1.25rem;
  bottom: 1.25rem;
  color: rgb(34, 34, 34, 0.8);
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.blog_wrapper .card:hover .blog_details {
  background: rgba(184, 189, 221, 0.289);
  border-radius: 12px;
  visibility: visible;
  transition: all 0.3s linear;
}
.blog_wrapper .card .blog_details h5 {
  color: #000000;
}

.blog_wrapper .card .blog_details p {
  color: hsl(0, 0%, 0%);
}
.blog_wrapper .blog_details .border_line {
  margin: 0.635rem 0;
  background: var(--text-color);
  width: 100%;
  height: 0.125rem;
}

.footer_wrapper .newsLatter {
  width: 100%;
  height: 100%;
  background-image: url(../images/subscribe-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 9.375rem 0;
  background-color: var(--bg-light);
}
.footer_wrapper input {
  line-height: 3rem;
  padding: 0 1.5625rem;
  border: 0.125rem solid var(--bg-light);
  background: transparent;
  font-weight: 600;
  border-radius: 0.3125rem;
  color: var(--bg-white);
}

.footer_wrapper .form-control:focus {
  color: var(--text-grey);
  background-color: transparent;
  border-color: var(--secondary-color);
  outline: 0;
  box-shadow: none;
}
.footer_wrapper .form-control::placeholder {
  color: var(--bg-white);
  font-weight: 500;
  opacity: 0.8;
}

/* footer */
.footer_wrapper .footer-logo img {
  max-width: 12.5rem;
  height: auto;
}

.footer_wrapper .social-icons li {
  margin: 0.375rem;
}

.footer_wrapper .social-icons li a {
  line-height: 1.875rem;
  font-size: 1.5625rem;
  display: block;
  color: var(--bg-black);
  text-align: center;
  margin: 0 0.625rem;
}

.footer_wrapper .social-icons li a:hover {
  color: var(--secondary-color);
}
